.header {
    background-color: #a51c31;
    padding: 10px;
    /* height: 150px; */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.content {
    padding: 20px;
    line-height: 20px;
}

.footer {
    background-color: #a51c31;
    padding: 20px 10px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn_edit, .btn_delete {
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #d3d3d3;
}

.btn_edit {
    background-color: #fff;
}

.btn_delete {
    background-color: #ff0000;    
}

.label {
    margin-bottom: 10px;
}

.error {
    color: #ff0000;
    font-size: 12px;
    margin: 5px 0;
}

